<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <div dir="ltr">
      <div style="padding: 0px; background-color: transparent">
        <div
          style="
            margin: 0px auto;
            min-width: 320px;
            max-width: 600px;
            word-break: break-word;
          "
        >
          <div
            style="
              border-collapse: collapse;
              display: table;
              width: 100%;
              height: 100%;
              background-color: transparent;
            "
          >
            <div
              style="
                max-width: 320px;
                min-width: 600px;
                display: table-cell;
                vertical-align: top;
              "
            >
              <div style="background-color: #0f172a; height: 100%; width: 100%">
                <div
                  style="
                    box-sizing: border-box;
                    height: 100%;
                    padding: 0px;
                    border: 0px solid transparent;
                  "
                >
                  <table
                    style="font-family: Cabin, sans-serif; width: 100%"
                    role="presentation"
                    border="0"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="word-break: break-word; padding: 10px"
                          align="left"
                        >
                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          &nbsp; &nbsp; &nbsp; &nbsp;
                          <img
                            src="https://share1.cloudhq-mkt3.net/f81642c8497d04.png"
                            alt=""
                            width="300"
                            height="77"
                          />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          &nbsp; &nbsp;&nbsp;
                          <br />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 0px; background-color: transparent">
        <div
          style="
            margin: 0px auto;
            min-width: 320px;
            max-width: 600px;
            word-break: break-word;
          "
        >
          <div
            style="
              border-collapse: collapse;
              display: table;
              width: 100%;
              height: 100%;
              background-color: transparent;
            "
          >
            <div
              style="
                max-width: 320px;
                min-width: 600px;
                display: table-cell;
                vertical-align: top;
              "
            >
              <div style="height: 100%; width: 100%">
                <div
                  style="
                    box-sizing: border-box;
                    height: 100%;
                    padding: 0px;
                    border: 0px solid transparent;
                  "
                >
                  <table
                    id="gmail-u_content_text_11"
                    style="font-family: Cabin, sans-serif"
                    role="presentation"
                    border="0"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="word-break: break-word; padding: 10px"
                          align="left"
                        >
                          <div
                            style="
                              font-size: 19px;
                              letter-spacing: 0.3px;
                              line-height: 180%;
                            "
                          >
                            <p style="margin: 0px">
                              We hope you're doing well.
                            </p>
                            <p style="margin: 0px">
                              We noticed that some of your information in our
                              system is incomplete. To complete your profile,
                              please click the personalized link below:
                            </p>
                            <p
                              style="
                                line-height: 180%;
                                margin: 0px;
                                color: #000000;
                              "
                            >
                              <span style="line-height: 34.2px">
                                <strong style="line-height: inherit"
                                  >Your Personal Update Link</strong
                                >
                              </span>
                            </p>
                            <div style="text-align: center; margin-top: 20px">
                              <a
                                href="{{link}}"
                                target="_blank"
                                style="
                                  display: inline-block;
                                  background-color: #24acb3;
                                  color: #ffffff;
                                  font-family: Cabin, sans-serif;
                                  font-size: 16px;
                                  font-weight: bold;
                                  text-decoration: none;
                                  padding: 14px 28px;
                                  border-radius: 8px;
                                  letter-spacing: 0.5px;
                                "
                                >Your Personal Update Link</a
                              >
                            </div>
                            <p style="margin: 16px 0px 0px 0px">
                              This link is unique to you and will automatically
                              load your existing data.
                            </p>
                            <p style="margin: 0px">
                              The process takes less than 1 minute.
                            </p>
                            <p style="margin: 0px">
                              Please make sure to complete your information as
                              soon as possible.
                            </p>
                            <p style="margin: 0px">
                              If you experience any issue, feel free to contact
                              us.
                            </p>
                            <p style="margin: 16px 0px 0px 0px">
                              Thank you for your cooperation.
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 0px; background-color: transparent">
        <div
          style="
            margin: 0px auto;
            min-width: 320px;
            max-width: 600px;
            word-break: break-word;
            background-color: transparent;
          "
        >
          <div
            style="
              border-collapse: collapse;
              display: table;
              width: 100%;
              height: 100%;
              background-color: transparent;
            "
          >
            <div
              style="
                max-width: 320px;
                min-width: 600px;
                display: table-cell;
                vertical-align: top;
              "
            >
              <div style="height: 100%; border-radius: 0px; width: 100%">
                <div
                  style="
                    box-sizing: border-box;
                    height: 100%;
                    padding: 0px;
                    border-radius: 0px;
                    border: 0px solid transparent;
                  "
                >
                  <table
                    id="gmail-u_content_text_16"
                    style="font-family: Cabin, sans-serif"
                    role="presentation"
                    border="0"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="word-break: break-word; padding: 20px"
                          align="left"
                        >
                          <div
                            style="
                              font-size: 19px;
                              letter-spacing: 0.3px;
                              line-height: 180%;
                            "
                          >
                            <p style="margin: 0px">Best regards,</p>
                            <p
                              style="
                                line-height: 180%;
                                margin: 0px;
                                color: #000000;
                              "
                            >
                              <strong>
                                <span style="line-height: 34.2px"
                                  >IT Community</span
                                >
                              </strong>
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 0px">
        <div
          style="
            margin: 0px auto;
            min-width: 320px;
            max-width: 600px;
            word-break: break-word;
            background-color: transparent;
          "
        >
          <div
            style="
              border-collapse: collapse;
              display: table;
              width: 100%;
              height: 100%;
              background-color: transparent;
            "
          >
            <div
              style="
                max-width: 320px;
                min-width: 600px;
                display: table-cell;
                vertical-align: top;
              "
            >
              <div style="height: 100%; border-radius: 0px; width: 100%">
                <div
                  style="
                    box-sizing: border-box;
                    height: 100%;
                    padding: 0px;
                    border-radius: 0px;
                    border: 0px solid transparent;
                  "
                >
                  <table
                    id="gmail-u_content_text_17"
                    style="font-family: Cabin, sans-serif"
                    role="presentation"
                    border="0"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="word-break: break-word; padding: 4px"
                          align="left"
                        >
                          <div
                            style="
                              font-family: &quot;trebuchet ms&quot;, geneva;
                              font-size: 23px;
                              color: #000000;
                              line-height: 140%;
                              text-align: center;
                            "
                          >
                            <p style="line-height: 140%; margin: 0px">
                              <strong>Get in Touch</strong>
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 0px; background-color: transparent">
        <div
          style="
            margin: 0px auto;
            min-width: 320px;
            max-width: 600px;
            word-break: break-word;
          "
        >
          <div
            style="
              border-collapse: collapse;
              display: table;
              width: 100%;
              height: 100%;
              background-color: transparent;
            "
          >
            <div
              style="
                max-width: 320px;
                min-width: 600px;
                display: table-cell;
                vertical-align: top;
              "
            >
              <div style="height: 100%; width: 100%">
                <div
                  style="
                    box-sizing: border-box;
                    height: 100%;
                    padding: 0px;
                    border: 0px solid transparent;
                  "
                >
                  <table
                    style="font-family: Cabin, sans-serif"
                    role="presentation"
                    border="0"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            word-break: break-word;
                            padding: 10px 10px 17px;
                          "
                          align="left"
                        >
                          <div
                            style="direction: ltr"
                            align="center"
                            aria-label="social"
                          >
                            <div style="display: table; max-width: 244px">
                              <table
                                style="
                                  display: inline-block;
                                  border-collapse: collapse;
                                  table-layout: fixed;
                                  border-spacing: 0px;
                                  vertical-align: top;
                                  margin-right: 17px;
                                  width: 32px;
                                  height: 32px;
                                "
                                role="presentation"
                                border="0"
                                width="32"
                                cellspacing="0"
                                cellpadding="0"
                                aria-label="Facebook icon"
                              >
                                <tbody>
                                  <tr style="vertical-align: top">
                                    <td
                                      style="
                                        word-break: break-word;
                                        vertical-align: top;
                                        border-collapse: collapse;
                                      "
                                      valign="middle"
                                    >
                                      <a
                                        href="https://www.facebook.com/ITCBlida/"
                                        title="Facebook"
                                        rel="noopener"
                                        target="_blank"
                                      >
                                        <img
                                          style="
                                            outline: none;
                                            text-decoration-line: none;
                                            clear: both;
                                            border: none;
                                            height: auto;
                                            float: none;
                                            display: block;
                                            max-width: 32px;
                                          "
                                          title="Facebook"
                                          src="https://cdn.tools.unlayer.com/social/icons/circle-black/facebook.png"
                                          alt="Facebook icon"
                                          width="32"
                                        />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table
                                style="
                                  display: inline-block;
                                  border-collapse: collapse;
                                  table-layout: fixed;
                                  border-spacing: 0px;
                                  vertical-align: top;
                                  margin-right: 17px;
                                  width: 32px;
                                  height: 32px;
                                "
                                role="presentation"
                                border="0"
                                width="32"
                                cellspacing="0"
                                cellpadding="0"
                                aria-label="LinkedIn icon"
                              >
                                <tbody>
                                  <tr style="vertical-align: top">
                                    <td
                                      style="
                                        word-break: break-word;
                                        vertical-align: top;
                                        border-collapse: collapse;
                                      "
                                      valign="middle"
                                    >
                                      <a
                                        href="https://www.linkedin.com/company/it-community/posts/?feedView=all"
                                        title="LinkedIn"
                                        rel="noopener"
                                        target="_blank"
                                      >
                                        <img
                                          style="
                                            outline: none;
                                            text-decoration-line: none;
                                            clear: both;
                                            border: none;
                                            height: auto;
                                            float: none;
                                            display: block;
                                            max-width: 32px;
                                          "
                                          title="LinkedIn"
                                          src="https://cdn.tools.unlayer.com/social/icons/circle-black/linkedin.png"
                                          alt="LinkedIn icon"
                                          width="32"
                                        />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table
                                style="
                                  display: inline-block;
                                  border-collapse: collapse;
                                  table-layout: fixed;
                                  border-spacing: 0px;
                                  vertical-align: top;
                                  margin-right: 17px;
                                  width: 32px;
                                  height: 32px;
                                "
                                role="presentation"
                                border="0"
                                width="32"
                                cellspacing="0"
                                cellpadding="0"
                                aria-label="Instagram icon"
                              >
                                <tbody>
                                  <tr style="vertical-align: top">
                                    <td
                                      style="
                                        word-break: break-word;
                                        vertical-align: top;
                                        border-collapse: collapse;
                                      "
                                      valign="middle"
                                    >
                                      <a
                                        href="https://www.instagram.com/it_community/?hl=en"
                                        title="Instagram"
                                        rel="noopener"
                                        target="_blank"
                                      >
                                        <img
                                          style="
                                            outline: none;
                                            text-decoration-line: none;
                                            clear: both;
                                            border: none;
                                            height: auto;
                                            float: none;
                                            display: block;
                                            max-width: 32px;
                                          "
                                          title="Instagram"
                                          src="https://cdn.tools.unlayer.com/social/icons/circle-black/instagram.png"
                                          alt="Instagram icon"
                                          width="32"
                                        />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table
                                style="
                                  display: inline-block;
                                  border-collapse: collapse;
                                  table-layout: fixed;
                                  border-spacing: 0px;
                                  vertical-align: top;
                                  margin-right: 17px;
                                  width: 32px;
                                  height: 32px;
                                "
                                role="presentation"
                                border="0"
                                width="32"
                                cellspacing="0"
                                cellpadding="0"
                                aria-label="YouTube icon"
                              >
                                <tbody>
                                  <tr style="vertical-align: top">
                                    <td
                                      style="
                                        word-break: break-word;
                                        vertical-align: top;
                                        border-collapse: collapse;
                                      "
                                      valign="middle"
                                    >
                                      <a
                                        href="https://www.youtube.com/@itcblida"
                                        title="YouTube"
                                        rel="noopener"
                                        target="_blank"
                                      >
                                        <img
                                          style="
                                            outline: none;
                                            text-decoration-line: none;
                                            clear: both;
                                            border: none;
                                            height: auto;
                                            float: none;
                                            display: block;
                                            max-width: 32px;
                                          "
                                          title="YouTube"
                                          src="https://cdn.tools.unlayer.com/social/icons/circle-black/youtube.png"
                                          alt="YouTube icon"
                                          width="32"
                                        />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table
                                style="
                                  display: inline-block;
                                  border-collapse: collapse;
                                  table-layout: fixed;
                                  border-spacing: 0px;
                                  vertical-align: top;
                                  margin-right: 0px;
                                  width: 32px;
                                  height: 32px;
                                "
                                role="presentation"
                                border="0"
                                width="32"
                                cellspacing="0"
                                cellpadding="0"
                                aria-label="Email icon"
                              >
                                <tbody>
                                  <tr style="vertical-align: top">
                                    <td
                                      style="
                                        word-break: break-word;
                                        vertical-align: top;
                                        border-collapse: collapse;
                                      "
                                      valign="middle"
                                    >
                                      <a
                                        href="mailto:contact.itc.blida@gmail.com"
                                        title="Email"
                                        rel="noopener"
                                        target="_blank"
                                      >
                                        <img
                                          style="
                                            outline: none;
                                            text-decoration-line: none;
                                            clear: both;
                                            border: none;
                                            height: auto;
                                            float: none;
                                            display: block;
                                            max-width: 32px;
                                          "
                                          title="Email"
                                          src="https://cdn.tools.unlayer.com/social/icons/circle-black/email.png"
                                          alt="Email icon"
                                          width="32"
                                        />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 0px; background-color: transparent">
        <div
          style="
            margin: 0px auto;
            min-width: 320px;
            max-width: 600px;
            word-break: break-word;
            background-color: #24acb3;
          "
        >
          <div
            style="
              border-collapse: collapse;
              display: table;
              width: 100%;
              height: 100%;
              background-color: transparent;
            "
          >
            <div
              style="
                max-width: 320px;
                min-width: 600px;
                display: table-cell;
                vertical-align: top;
              "
            >
              <div style="background-color: #0f172a; height: 100%; width: 100%">
                <div
                  style="
                    box-sizing: border-box;
                    height: 100%;
                    padding: 0px;
                    border: 0px solid transparent;
                  "
                >
                  <table
                    style="font-family: Cabin, sans-serif"
                    role="presentation"
                    border="0"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="word-break: break-word; padding: 3px"
                          align="left"
                        >
                          <div
                            style="
                              font-size: 14px;
                              color: #0f172a;
                              line-height: 180%;
                              text-align: center;
                            "
                          >
                            <p style="line-height: 180%; margin: 0px">
                              <span
                                style="
                                  font-size: 12px;
                                  line-height: 21.6px;
                                  color: #edfeff;
                                "
                                >Copyrights © IT Community All Rights
                                Reserved</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
